<form action="/admin/genres" method="post">

  <div class="field-group">
    <input
      type="text"
      name="type"
      placeholder="Genre"
      required
    />
  </div>
  <button class="big-button button">Save</button>
</form>
