body{
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 246);
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 6em;
  margin: 0.3em;
  margin-bottom: 0.1em
}

h2{
  font-family: 'Rasa', serif;
  font-size: 2em
}

h3{
  font-family: 'Rasa', serif;
  font-size: 1.5em;
}

nav{
  display: inline-block;
  height: 100%;
  min-height: 1000px;
  border-radius: 10px;
  margin: 0.2em 0.5em 0 0.2em;
  top: 0;
  padding: 0.5em;
  background-color: rgba(145, 190, 212, 0.9);
  position: fixed;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0
}

li a.big-button{
  display: block;
  border-radius: 2px;
  margin: 0.5em 0 0.5em 0;
  width: 100%;
  background-color: rgb(217, 232, 245);
  color: black;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em 0
}

li a.big-button:hover{
  background-color: white
}

.action-buttons{
  display: inline-block;
}

form .big-button{
  width: 6em;
  border-radius: 5px;
  background-color: rgb(10, 24, 41);
  color: rgb(252, 255, 254);
  padding: 0.3em 0;
  margin: 1em 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  border-style: none;
}

form .big-button:hover{
  background-color: rgb(242, 97, 1);
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

section{
  display: block;
  text-align: center;
  padding: 1em;
  width: 100%
}

section h1{
  height: 2em
}

.list{
  margin: 2em auto;
  padding: 1em;
  background-color: white;
  border-radius: 2px;
  width: 30%;
}

.select{
  margin: 2em;
}

.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 0.01em;
  height: 0.01em;
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: rgb(10, 24, 41);
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding: 1em
}

.add-button:hover{
  background-color: rgb(242, 97, 1);
}

.add-button:nth-child(4){
  right: 3.25em;
}

.add-button:nth-child(5){
  right: 5.5em;
}
