<div class="heading">
  <h1>Films</h1>
</div>

<div>
  <% @films.each do |film| %>
  <div class="list">

  <h2><%= film.title %></h2>

  <h3><%= film.genre.type %></h3>

  <h3><%= film.release_date %></h3>

  <form action="/<%=film.id%>/edit" method="get">
    <button class="big-button button">Edit</button>
  </form>

  </div>
    <% end %>
</div>
