<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SeeSaw</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/archive'>Seen films</a></li>
        <li><a href='/:id/edit'>New</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
