<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/style/style.css'>
    <link
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Quicksand|Rasa|Open+Sans" rel="stylesheet">
    <title>SeeSaw</title>
    <link rel="icon" href="/images/seesaw_icon.ico"/>
  </head>
  <body>

    <nav>
      <a href="/films"><img src="/images/SeeSaw.png"></a>
      <ul>
        <li>
          <a href="/" class="big-button">Want to see</a>
        </li>
        <li>
            <a href="/films/archive" class="big-button">Seen</a>
        </li>
        <li>
            <a href="/films/new" class="big-button">Add</a>
        </li>
        <li>
            <a href="/admin" class="admin"></a>
        </li>
      </ul>
    </nav>

    <section>
      <%= yield %>
    </section>

      <a class="add-button" href="/films/new">+</a>
      <a class="add-button" href="https://www.facebook.com" target="_blank">f</a>
      <a class="add-button" href="https://www.twitter.com" target="_blank">t</a>


  </body>
</html>
