<h1><%= @genre.type %>s</h1>
<div>
  <% for film in @films %>
  <div class="list">
    <h2><%= film.title %></h2>

    <h3><%= film.genre.type %></h3>

    <h3>Release Date: <%= film.pretty_release_date %></h3>

  <% end %>
  <div>
</div>
