<h1>Add a new film</h1>


<form class = "input-form" action="/films" method="post">

  <div class="field-group">
    <label for="title-field" class="label">Title:</label>
    <div class="field">
      <input
        type="text"
        name="title"
        placeholder="Title"
        required
      />
   </div>
  </div>


  <div class="field-group">
    <label for="genre-field" class="label">Genre:</label>
    <div class="field">
      <select name="genre_id">
        <% for genre in @genres %>
        <option value="<%= genre.id %>"><%= genre.type %></option>
        <% end %>
      </select>
    </div>
  </div>


  <div class="field-group">
    <label for="release_date-field" class="label">Release Date:</label>
    <div class="field">
      <input
        type="date"
        name="release_date"
        placeholder="Release Date"
      />
    </div>
  </div>


  <div class="field-group">
    <div class="field">
        <input
          type="radio"
          name="seen"
          value="f"
          checked="checked">
          Not Seen
      </div>
      <input
        type="radio"
        name="seen"
        value="t">
        Seen
    </div>
  </div>


  <div class="field-group">
    <label for="rating-field" class="label">Rating:</label>
    <div class="field">
      <select name="rating">
        <option value="Rating">Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>


  <div class="field-group">
    <label for="date_seen-field" class="label">Date Seen:</label>
    <div class="field">
      <input
        type="date"
        name="date_seen"
        placeholder="Date Seen"
      />
    </div>
  </div>

  <button class="big-button button">Save</button>
</form>
